<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Snitin</title>
    <meta name="description" content="Snitin">
    <meta name="author" content="Kritin">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="game" v-bind:state="state">
            <div v-for="(row, y) in grid" class="row">
                <div v-for="(item, x) in row" class="item" v-bind:class="grid[y][x]">
                </div>
            </div>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>